<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1>Cidades de {{ country.country }}</h1>

    <p>Voltar para <a href="{% url 'countries' %}">Countries</a></p>

    <!-- <ul>
      {% for city in cities %}
        <li><a href="/cities/{{ city.city_id }}/addresses">{{ city.city_id }} - {{ city.city }}</a></li>
      {% endfor %}
    </ul> -->

    <table border="1">
      <thead>
        <tr>
          <th>City ID</th>
          <th>City</th>
          <th>Country ID</th>
        </tr>
      </thead>
      <tbody>
        {% for city in cities %}
        <tr>
          <td data-label="id">{{ city.city_id }}</td>
          <td data-label="city"><a href="/cities/{{ city.city_id }}/addresses">{{ city.city }}</a></td>
          <td data-label="country_id">{{ city.country_id }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
