{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <h2>Detalhes para {{ customer_name }}</h2>

    <p>Voltar para <a href="/customers">Customers</a></p>

    <table>
      <tr>
        <th>Inventory ID</th>
        <th>Rental date</th>
      </tr>
      {% for detail in details %}
      <tr>
        <td>{{ detail.inventory_id }}</td>
        <td>{{ detail.rental_date }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
